serverside/modules/__pycache__/*
serverside/tests/__pycache__/*
serverside/__pycache__/*
serverside/.pytest_cache/*
serverside/modules/person_counter_opencv/__pycache__/*
serverside/modules/database/__pycache__/*
!**/__pycache__/*
*.pyc
serverside/modules/person_counter_opencv/__pycache__/centroidtracker.cpython-38.pyc
!**/.vscode/*
*.cdb
Hardware/ARM_HPS/.qsys_edit/*
Hardware/ARM_HPS/db/*
Hardware/ARM_HPS/hps_isw_handoff/*
Hardware/ARM_HPS/incremental_db/*
Hardware/ARM_HPS/CPEN391_Computer/*
Hardware/ARM_HPS/c5_pin_model_dump.txt
Hardware/ARM_HPS/CPEN391_Computer.asm.rpt
*.done
*.rpt
*.smsg
*.jdi
Hardware/ARM_HPS/CPEN391_Computer.fit.summary
Hardware/ARM_HPS/CPEN391_Computer.map.summary
Hardware/ARM_HPS/CPEN391_Computer.pin
Hardware/ARM_HPS/CPEN391_Computer.sld
Hardware/ARM_HPS/CPEN391_Computer.sta.summary
Hardware/ARM_HPS/hps_sdram_p0_summary.csv
Hardware/ARM_HPS/CPEN391_Computer.sopcinfo
